# Appendix L.2 Project File Integrity Verification
To ensure that your files are exactly as what you think.  You should always verify the file integrity.  To verify file integrity, you should use a file checksum program.  While there are many different types (MD5, SHA1, SHA256) of Checksum programs that create a hash from the file contents - the most common checksum program is MD5.

All filesystems provide [MD5](https://en.wikipedia.org/wiki/MD5) checksum programs to verify file integrity. 